li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #E06733;
}

body {
    margin: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.prices__text_380 {
    display: none
}

@font-face {
    font-family: "InikaReg";
    src: local("Inika-Regular");
    src: url("../fonts/Inika-Regular.ttf");
}

@font-face {
    font-family: "InterBold";
    src: local("Inter-Bold");
    src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: "InterReg";
    src: local("Inter-Regular");
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "InikaBold";
    src: local("Inika-Bold");
    src: url("../fonts/Inika-Bold.ttf");
}

.container {
    margin: 0 auto;
}

.header {
    height: 134px;
    background: #EDF2EC;

}

.header_title {
    font-family: "InterReg", sans-serif;
    font-size: 16px;
    line-height: 50px;
}

.header__img {
    height: 24px;

}

.header__span {
    color: #E06733;
    font-family: "InikaBold", sans-serif;
    font-size: 16px;
    line-height: 50px;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    height: 134px;

    text-align: center;
    align-items: center;
}

/*.wrap_header{*/
/*    max-width: 1222px;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/


/*align-items: center;*/
/*}*/

.header__nav {
    margin-right: 109px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    /*justify-content: center;*/
}

.nav__item {
    margin-right: 46px;
    font-family: "InikaReg", sans-serif;
    font-size: 16px;
    line-height: 50px;
}

.nav__item:last-child {
    margin-right: 0;
    line-height: 50px;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
}

.main__section1 {
    min-height: 532px;
    background: #EDF2EC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    margin-left: 111px;
}

.welcome-wrap {
    max-width: 1222px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome__left {
    width: 50%;
    /*position: relative;*/
    /*border: red 1px solid;*/
}

.welcome__right {
    width: 50%;
    margin-top: 98px;
    margin-left: 130px;
}

.welcome__title {
    font-size: 45px;
    line-height: 50px;
    font-family: "InterBold", sans-serif;
    margin: 0;
    margin-bottom: 42px;
}

.title__span {
    color: #499A18;
}

.welcome__text {
    font-size: 20px;
    line-height: 35px;
    font-family: "InterReg", sans-serif;
    margin: 0;
    margin-bottom: 48px;
}

.button_span {
    font-size: 16px;
    line-height: 20px;
    font-family: "InterReg", sans-serif;
}

.welcome__picture {
    margin-top: 62px;
    overflow: hidden;
}

.welcome__img {
    height: 407px;
    /*!*display: flex;*!*/
    /*padding-left: 109px;*/
    /*padding-top: 62px;*/
    /*position: absolute;*/
    /*left: 109px;*/
    /*top: 62px;*/

}

.buttons_first {
    height: 44px;
    width: 158px;
    border-radius: 10px;
    border: 1px solid #E06733;
    background-color: rgba(224, 103, 51, 0);

}

.buttons_first:hover {
    background-color: #E06733;
    color: #FFFFFF;
    cursor: pointer;
}


.main__about {
    background-color: #ffffff;
    min-height: 666px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__left {
    width: 50%;

    /*border: #8151a8 1px solid;*/

}

.about__title {
    margin: 0;
    margin-top: 161px;
    margin-left: 109px;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 52px;
    font-family: "InikaReg", sans-serif;
    max-width: 463px;
    min-height: 102px;
}

.title__span_orange {
    color: #E06733;
}

.about__text {
    max-width: 605px;
    min-height: 208px;
    margin: 0;
    margin-left: 109px;
    font-family: "InterReg", sans-serif;
    font-size: 20px;
    line-height: 30px;
}


.about__right {
    width: 50%;
    margin-top: 93px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

    /*position: relative;*/
}

.about__img {
    height: 479px;
    width: 464px;
    padding-right: 109px;
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*overflow: hidden;*/

    /*position: absolute;*/
    /*right: 109px;*/
}

/*.service{*/
/*    margin-bottom: 43px;*/
/*}*/

.service__text {
    color: #499A18;
    font-family: "InikaReg", sans-serif;
    font-size: 40px;
    line-height: 52px;
    width: 306px;
    margin-top: 40px;
    margin-left: 109px;
    height: 94px;
    margin-bottom: 0;
}

.service__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #EDF2EC;
    padding-bottom: 90px;

}

.nav__menu {
    padding-top: 69px;
    margin-left: 144px;
}

.buttons__second {
    margin-right: 32px;
    height: 50px;
    width: 161px;
    border: 1px solid #E06733;
    color: #E06733;
    background-color: rgba(224, 103, 51, 0);
    border-radius: 5px;
    font-family: "InikaReg", sans-serif;
    font-size: 20px;

}

/*.buttons__second:hover{*/
/*    background-color: #E06733;*/
/*    color: #FFFFFF;*/
/*    cursor: pointer;*/
/*}*/

.buttons__contact {
    height: 50px;
    width: 161px;
    border: 1px solid #E06733;
    color: #E06733;
    background-color: rgba(224, 103, 51, 0);
    border-radius: 5px;
    font-family: "InikaReg", sans-serif;
    font-size: 20px;
}

.buttons__contact:hover {
    background-color: #E06733;
    color: #FFFFFF;
    cursor: pointer;
}


.buttons__second:last-child {
    margin-right: 0;
}

.buttons__second:hover {
    background-color: #E06733;
    color: #FFFFFF;
    cursor: pointer;
}

/*.buttons__second:active {*/
/*    border-color: #8c1847;*/
/*    !*color: #000;*!*/
/*}*/

.service__picture {
    padding-left: 110px;
    padding-right: 109px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EDF2EC;
    gap: 55px;
    padding-bottom: 121px;
}

.pic__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 330px;
    height: 450px;

    /*border: 1px solid #696989;*/

}


.pic__item:hover {
    transform: scale(1.01);
}


.pic__picture {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.pic__img {
    width: 100%;


}

.pic__text {
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;


}

.text-button__title {
    display: block;
    text-align: center;
    font-family: "InterBold", sans-serif;
    color: #E06733;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-top: 10px;

}

.text-button__text {
    display: block;
    text-align: center;
    font-family: "InterReg", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.main__section4 {
    background-color: #ffffff;
    height: 560px;
}

/*.prices{*/
/*    display: flex;*/
/*    !*flex-direction: column;*!*/
/*    !*align-items: center;*!*/
/*}*/

/*.prices {*/
/*    padding-top: 40px;*/
/*}*/

.prices__title {
    margin: 0;
    font-family: "InterBold", sans-serif;
    font-size: 40px;
    line-height: 48px;
}

.prices__text {
    margin: 0;
    font-family: "InterBold", sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
    max-width: 452px;
    text-align: right;
}


.wrap2 {
    max-width: 1222px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-bottom: 60px;*/
}

.prices__nav {
    padding-top: 40px;
    margin-bottom: 6px;
}

.body__left {
    height: 282px;
    width: 332px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: #E3E1D5 1px solid;
}

.body__right {
    height: 282px;
    width: 332px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*border: #E3E1D5 1px solid;*/
    padding-top: 34px;
    gap: 39px;

}

.prices__item {
    height: 50px;
    width: 250px;
    border-radius: 20px;
    background-color: #EDF2EC;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;

}

.button_price__title {
    font-family: "InterBold", sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
}

.button_price__img {
    width: 16px;
}

.prices_right__img {
    width: 152px;
    height: 175px;

}

.wrap3 {
    min-width: 1222px;
    margin: 0 auto;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
}

.contacts {
    height: 550px;
    background-color: #EDF2EC;
    display: flex;
    /*flex-direction: row;*/
    align-items: flex-end;

}

.contact__title {
    display: block;
    font-family: "InikaBold", sans-serif;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin: 0;
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
}

.contact__picture {
    /*display: inline-block;*/
    height: 497px;
    width: 400px;
    /*vertical-align: bottom;*/

}

.contact_button {
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    border: none;
    margin-top: 96px;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}


.select_city {
    line-height: 40px;
    letter-spacing: 0.01em;
    font-family: 'InterReg', sans-serif;
    font-size: 20px;
    padding: 0;
    padding-left: 22px;

    background-image: url("../images/icons/city_unactive.png");
    background-position: calc(100% - 35px);
    background-size: 16px;
    background-repeat: no-repeat;
}

.select_city__item {
    font-family: 'InterReg', sans-serif;
    font-size: 16px;
    letter-spacing: 0.01em;
    /*line-height: 40px;*/
}

.footer {
    background-color: #ffffff;
}

.footer__container {
    max-width: 1222px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 130px;
    line-height: 50px;
    font-family: 'InterReg', sans-serif;
    font-size: 20px;
    align-items: center;

}

.footer__left {
    word-spacing: 15px;
}

/*.footer__right {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-end;*/
/*}*/

.footer__center {
    margin-left: 10px;
}

.footer__img {
    height: 26.67px;
    margin-right: 25px;
}

.footer__img:last-child {
    margin-right: 0;
}

.footer__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer__item {
    margin-right: 27px;
    margin-top: 10px;
}

.footer__item:last-child {
    margin-right: 0;
}

.prices__text_2 {
    display: none;
}

@media (max-width: 768px) {

    .main__section1 {
        min-height: 420px;
        background: #EDF2EC;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header {
        height: 117px;
        background: #EDF2EC;

    }

    .wrap {
        max-height: 117px;
    }

    .main {
        width: 100%;
        margin: 0 auto;
    }

    /*.wrap{*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: space-between;*/
    /*    max-width: 1440px;*/
    /*    margin: 0 auto;*/
    /*    height: 114px;*/
    /*    text-align: center;*/
    /*    align-items: center;*/
    /*}*/
    .header__logo {
        margin-left: 49px;
    }

    .nav__item {
        margin-right: 45px;
        font-family: "InikaReg", sans-serif;
        font-size: 16px;
        line-height: 50px;
    }

    .nav__item:last-child {
        margin-right: 0;
        line-height: 50px;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        /*justify-content: center;*/

    }

    .header__nav {
        margin-right: 39px;
    }

    .welcome__title {
        font-size: 35px;
        line-height: 50px;
        font-family: "InterBold", sans-serif;
        margin: 0;
        margin-bottom: 32px;
    }

    .welcome__text {
        font-size: 16px;
        line-height: 25px;
        font-family: "InterReg", sans-serif;
        margin: 0;
        margin-bottom: 35px;
        margin-left: 5px;
    }


    .welcome-wrap {
        max-width: 1222px;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .welcome__right {
        width: 50%;
        margin-top: 40px;
        margin-left: 50px;
    }

    .welcome__img {
        height: 254px;
        /*!*display: flex;*!*/
        /*padding-left: 109px;*/
        /*padding-top: 62px;*/
        /*position: absolute;*/
        /*left: 109px;*/
        /*top: 62px;*/

    }

    .welcome__picture {
        margin-top: 36px;
        margin-left: 37px;
        overflow: hidden;
    }

    .main__about {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about__left {
        width: 100%;
        margin: 0 auto;

        /*border: #8151a8 1px solid;*/

    }

    .about__title {
        display: block;
        text-align: center;
        /*margin: 0 auto;*/
        margin-top: 40px;
        margin-left: 152px;
        /*margin-bottom: 40px;*/
        font-size: 35px;
        line-height: 45px;
        font-family: "InikaReg", sans-serif;
        max-width: 463px;
        min-height: 102px;

    }

    .about__text {
        max-width: 668px;
        /*margin: 0;*/
        margin-left: 50px;
        font-family: "InterReg", sans-serif;
        font-size: 20px;
        line-height: 30px;
        /*text-align: center;*/
    }

    .about__img {
        margin-top: 42px;
        margin-left: 20px;
        height: 258px;
        width: 250px;
        padding-right: 0;
        margin-bottom: 90px;


    }

    .about__right {
        width: 100%;
        margin-top: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;

        /*position: relative;*/
    }

    .service__text {
        color: #499A18;
        font-family: "InikaReg", sans-serif;
        font-size: 35px;
        line-height: 45px;
        margin-top: 61px;
        margin-left: 49px;
        /*height: 94px;*/
        /*margin-bottom: 0;*/
    }

    .buttons__second {
        /*margin-right: 32px;*/
        height: 50px;
        width: 161px;
        border: 1px solid #E06733;
        color: #E06733;
        background-color: rgba(224, 103, 51, 0);
        border-radius: 5px;
        font-family: "InikaReg", sans-serif;
        font-size: 20px;

    }

    .nav__menu {
        padding-top: 39px;
        margin-left: 50px;
    }

    .pic__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 280px;
        height: 450px;

        /*border: 1px solid #696989;*/

    }
    .text-button__text {
        display: block;
        text-align: center;
        font-family: "InterReg", sans-serif;
        font-size: 16px;
        line-height: 20px;
        width: 201px;
        margin: 0;
        margin-top: 12px;
        margin-left: 40px;

    }
    .service__picture {
        padding-left: 50px;
        padding-right: 34px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /*justify-content: space-between;*/
        background-color: #EDF2EC;
        /*gap: 55px;*/
        /*padding-bottom: 121px;*/
    }

    .pic__text {
        width: 280px;
        height: 100px;
        border: 1px solid #E3E1D5;
        border-radius: 0 0 20px 20px;


    }

    .service__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #EDF2EC;
        padding-bottom: 40px;


    }

    .prices__text {
        display: none;
    }

    .prices__title {
        margin: 0;
        font-family: "InterBold", sans-serif;
        font-size: 35px;
        line-height: 42px;
        margin-left: 14px;
        margin-bottom: 58px;
        /*display: block;*/
        /*width: 100%;*/
    }

    .prices__nav {
        /*padding-top: 40px;*/
        /*margin-bottom: 6px;*/
        /*margin-left: 70px;*/
    }

    .body__left {
        height: 282px;
        width: 332px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: #E3E1D5 1px solid;
        margin: 0;
    }

    .wrap2 {
        max-width: 1222px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*margin-bottom: 60px;*/
        margin-left: 50px;
    }

    .prices__text_2 {
        display: block;
        font-family: "InterBold", sans-serif;
        font-size: 25px;
        line-height: 35px;
        /*letter-spacing: 0;*/
        max-width: 296px;
        text-align: right;
        margin-right: 34px;
        margin-top: 0;
        margin-bottom: 28px;
    }

    .service__picture {

        padding-bottom: 70px;
    }

    .body__right {
        padding-top: 0;
        gap: 0;
    }

    .buttons__contact {

        width: 161px;
        margin-right: 35px;
        min-height: 50px;
        border: 1px solid #E06733;
        color: #E06733;
        background-color: rgba(224, 103, 51, 0);
        border-radius: 5px;
        font-family: "InikaReg", sans-serif;
        font-size: 20px;
    }

    .prices_right__img {
        width: 152px;
        height: 175px;

    }

    .prices_right__img {
        margin-top: 35px;
        margin-right: 30px;
    }

    .main__section4 {
        height: 585px;
    }

    .wrap3 {
        min-width: 768px;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact__picture {
        height: 100%;
        width: 200px;
        margin-right: -17px;
    }

    .contact__title {
        display: inline-block;
        font-family: "InikaBold", sans-serif;
        font-size: 40px;
        line-height: 52px;
        color: #499A18;
        text-align: center;
        margin-bottom: 98px;
        margin-right: 50px;

    }

    .wrap3__title {
        margin-left: auto;
        margin-right: auto;
        order: 2;
    }

    .select__order {
        order: 1
    }

    .contacts {
        height: 739px;
        background-color: #EDF2EC;
        display: flex;
        /*flex-direction: row;*/
        align-items: flex-end;

    }

    .contact_button {
        /*width: 450px;*/
        /*height: 50px;*/
        /*background: #D6E7D2;*/
        /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);*/
        /*border-radius: 0;*/
        /*border: none;*/
        margin-top: 0;
        margin-bottom: 250px;
    }

    .footer__container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 181px;
        line-height: 20px;
        font-family: 'InterReg', sans-serif;
        font-size: 20px;
        align-items: center;
        margin-left: 10px;
        padding-top: 35px;
        /*vertical-align: center;*/
        row-gap: 0;

    }

    .footer__center {
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .footer__left {
        word-spacing: 20px;
    }


}

@media (max-width: 380px) {
    .header {
        height: 96px;
        background: red;

    }

    .welcome__text {
        font-size: 16px;
        line-height: 25px;
        font-family: "InterReg", sans-serif;
        margin: 0;
        margin-bottom: 25px;
    }

    .welcome__title {
        font-size: 25px;
        line-height: 35px;
        font-family: "InterBold", sans-serif;
        margin: 0;
        margin-bottom: 22px;
    }

    /*.welcome__left {*/
    /*    display: none;*/
    /*    width: 100%;*/
    /*    !*position: relative;*!*/
    /*    !*border: red 1px solid;*!*/
    /*}*/
    .welcome-wrap {
        max-width: 1222px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .welcome__left {
        display: none;
    }

    .welcome__right {
        width: 100%;
        margin-top: 24px;
        margin-left: 24px;
    }

    .buttons_first {
        height: 34px;
        width: 100px;
        border-radius: 10px;
        border: 1px solid #E06733;
        background-color: rgba(224, 103, 51, 0);

    }

    .button_span {
        font-size: 10px;
        line-height: 20px;
        font-family: "InterReg", sans-serif;
    }

    .main__section1 {
        min-height: 300px;
        background: #EDF2EC;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main__about {
        background-color: #ffffff;
        min-height: 516px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about__title {
        display: block;
        text-align: center;
        /*margin: 0 auto;*/
        margin-top: 27px;
        margin-left: 46px;

        margin-bottom: 10px;
        font-size: 25px;
        line-height: 35px;
        font-family: "InikaReg", sans-serif;
        max-width: 288px;
        min-height: 57px;

    }

    .about__text {
        min-width: 228.38px;
        /*margin: 0;*/
        margin-left: 25px;
        font-family: "InterReg", sans-serif;
        font-size: 15px;
        line-height: 25px;
        margin-right: 8px;
        /*text-align: center;*/
    }

    .about__img {
        height: 147px;
        width: 150px;
        padding-right: 50px;

        margin-top: 4px;
        margin-left: 65px;
        margin-bottom: 50px;
    }

    .service__text {
        color: #499A18;
        font-family: "InikaReg", sans-serif;
        font-size: 25px;
        line-height: 32px;
        margin-top: 30px;
        margin-left: 23px;
        width: 187px;
        /*height: 94px;*/
        /*margin-bottom: 0;*/
    }

    .buttons__second {
        margin-right: 0;
        height: 35px;
        width: 121px;
        border: 1px solid #E06733;
        color: #E06733;
        background-color: rgba(224, 103, 51, 0);
        border-radius: 5px;
        font-family: "InikaReg", sans-serif;
        font-size: 15px;


    }

    .nav__menu {
        padding-top: 10px;
        margin-left: 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px
    }

    .text-button__text {
        margin-top: 8px;
        margin-left: 40px;
        text-align: center;
        font-family: "InterReg", sans-serif;
        font-size: 16px;
        line-height: 20px;
        width: 201px;

    }

    .service__picture {
        flex-wrap: wrap;
        gap: 33px;
        height: 2818px;
    }

    .main__section4 {
        height: 512px;
    }

    .body__right {
        display: none;
    }

    .prices__text_380 {
        width: 230px;
        display: inline-block;
        font-family: "InterBold", sans-serif;
        line-height: 35px;
        font-size: 20px;
        text-align: center;
        margin-left: 75px;
        margin-bottom: 0;
    }

    .prices__title {
        font-size: 25px;
        margin: 0;
        font-family: "InterBold", sans-serif;
        line-height: 42px;
        margin-left: 75px;
        margin-bottom: 30px;

    }

    .prices__nav {
        padding-top: 20px;
        /*margin-bottom: 6px;*/

    }

    .body__left {
        height: 225px;
        width: 224px;
        border-radius: 20px;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-evenly;*/
        /*align-items: center;*/
        border: #E3E1D5 1px solid;
        padding-top: 10px;
        /*margin-bottom: 30px;*/

    }

    .prices__item {
        height: 51px;
        width: 180px;
        border-radius: 20px;
        background-color: #EDF2EC;
        border: none;
        margin-bottom: 12px;
        /*display: flex;*/
        /*flex-direction: row;*/
        /*flex-wrap: wrap;*/
        /*justify-content: space-evenly;*/
        /*align-items: center;*/
        padding-right: 39px;
        padding-left: 25px;


    }

    .button_price__title {
        font-family: "InterBold", sans-serif;
        font-size: 15px;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 10px;
        justify-items: start;
    }

    .button_price1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .button_price2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .wrap2 {
        max-width: 380px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*margin-bottom: 60px;*/
        margin-left: 77px;
    }

    .buttons__contact_380 {
        width: 121px;
        height: 35px;
        margin-right: 3px;
        margin-top: 19px;
        border: 1px solid #E06733;
        color: #E06733;
        background-color: rgba(224, 103, 51, 0);
        border-radius: 5px;
        font-family: "InikaReg", sans-serif;
        font-size: 15px;
        padding: 0;
    }

    .contact__title {
        display: inline-block;
        font-family: "InikaBold", sans-serif;
        font-size: 25px;
        line-height: 32px;
        color: #499A18;
        text-align: center;
        margin-bottom: 80px;
        margin-right: 55px;

    }

    .wrap3__title {
        margin-left: auto;
        margin-right: auto;

        order: 2;
    }

    .select__order {
        order: 1
    }

    .wrap3 {
        min-width: 380px;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacts {
        height: 445px;
        background-color: #EDF2EC;
        display: flex;
        /*flex-direction: row;*/
        align-items: flex-end;

    }

    .contact__picture {
        height: 100%;
        width: 100px;
        margin-right: 0;
    }

    .contact_button {

        width: 300px;
        /*height: 50px;*/
        /*background: #D6E7D2;*/
        /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);*/
        /*border-radius: 0;*/
        /*border: none;*/
        margin-top: 0;
        margin-bottom: 130px;
    }

    .footer__container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-height: 146px;
        line-height: 37px;
        font-family: 'InterReg', sans-serif;
        font-size: 20px;
        align-items: center;
        margin-left: 5px;
        padding-top: 12px;
        /*vertical-align: center;*/

    }

    .footer__left {
        margin-bottom: 5px;
        word-spacing: 15px;
    }
    .footer__item {
        margin-right: 25px;
        margin-top: 0;
    }

    .footer__item:last-child {
        margin-right: 0;
    }
    .footer__center {
        margin-left: 0;
        margin-bottom: 5px;
    }
    .footer__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        margin-left: 8px;
        padding: 0;
    }




}

/*.contacts {*/
/*    height: 739px;*/
/*    background-color: #EDF2EC;*/
/*    !*display: flex;*!*/
/*    !*flex-direction: row;*!*/
/*    !*align-items: flex-end;*!*/

/*}*/


/*color: #499A18;*/
/*font-family: "InikaReg", sans-serif;*/
/*font-size: 40px;*/
/*line-height: 52px;*/
/*width: 306px;*/
/*margin-top: 40px;*/
/*margin-left: 109px;*/
/*height: 94px;*/
/*margin-bottom: 0;*/

